@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <nav aria-label="Movie_Index_Page">
        <ul class="pagination justify-content-center">
            @if ((int)ViewData["page"] != 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                       asp-route-page=1 asp-route-order=@ViewData["order"]
                       asp-route-sort="@((string)ViewData["sort"])">
                        <i class="bi bi-chevron-double-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                       asp-route-page=@((int)ViewData["page"] - 1) asp-route-order=@ViewData["order"]
                       asp-route-sort="@((string)ViewData["sort"])"><i class="bi bi-chevron-left"></i></a>
                </li>
                @if ((int)ViewData["page"] != 2)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                           asp-route-page=@((int)ViewData["page"] - 2) asp-route-order=@ViewData["order"]
                           asp-route-sort="@((string)ViewData["sort"])">@((int)ViewData["page"] - 2)</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                       asp-route-page=@((int)ViewData["page"] - 1) asp-route-order=@ViewData["order"]
                       asp-route-sort="@((string)ViewData["sort"])">@((int)ViewData["page"] - 1)</a>
                </li>

            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                       asp-route-page=1 asp-route-order=@ViewData["order"]
                       asp-route-sort="@((string)ViewData["sort"])">
                        <i class="bi bi-chevron-double-left"></i>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                       asp-route-page=@((int)ViewData["page"] - 1) asp-route-order=@ViewData["order"]
                       asp-route-sort="@((string)ViewData["sort"])"><i class="bi bi-chevron-left"></i></a>
                </li>
            }
            <li class="page-item active">
                <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                   asp-route-page=@((int)ViewData["page"]) asp-route-order=@ViewData["order"]
                   asp-route-sort="@((string)ViewData["sort"])">@((int)ViewData["page"])</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                   asp-route-page=@((int)ViewData["page"] + 1) asp-route-order=@ViewData["order"]
                   asp-route-sort="@((string)ViewData["sort"])">@((int)ViewData["page"] + 1)</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                   asp-route-page=@((int)ViewData["page"] + 2) asp-route-order=@ViewData["order"]
                   asp-route-sort="@((string)ViewData["sort"])">@((int)ViewData["page"] + 2)</a>
            </li>
            @if ((int)ViewData["page"] <= 2)
            {
                <li class="page-item">
                    <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                       asp-route-page=@((int)ViewData["page"] + 3) asp-route-order=@ViewData["order"]
                       asp-route-sort="@((string)ViewData["sort"])">@((int)ViewData["page"] + 3)</a>
                </li>
                @if ((int)ViewData["page"] == 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                           asp-route-page=@((int)ViewData["page"] + 4) asp-route-order=@ViewData["order"]
                           asp-route-sort="@((string)ViewData["sort"])">@((int)ViewData["page"] + 4)</a>
                    </li>
                }
            }
            <li class="page-item">
                <a class="page-link" asp-action=@ViewData["action"] asp-controller="Movie"
                   asp-route-page=@((int)ViewData["page"] + 1) asp-route-order=@ViewData["order"]
                   asp-route-sort="@((string)ViewData["sort"])"><i class="bi bi-chevron-right"></i></a>
            </li>
        </ul>
    </nav>
</div>